<%# called from mailers/user_mailer %>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Forgot your password <%= @user.email %>?</h1>
    <p>
        Did you request a reset of your password? If so, Click 
        <%= link_to "here", @url %> 
        within 30 minutes to reset it.
    </p>
  </body>
</html>