<h1>Fashion</h1>
<h2>It's not a lifestyle, it's a choice. Or is it the other way around....</h2>
<br>
<br>
<div>
  <%= button_to "Login", "/login", method: :get, class: "btn btn-primary btn-block" %>
</div>
<p></p>
<div>
  <%= button_to "Login with Twitter", "/auth/twitter", method: :post, class: "btn btn-info btn-block" %>
</div>
