<div class="row">
  <div class="col-xs-12">
    <div class="well"><%= link_to "women", collection_path("women") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="well"><%= link_to "men", collection_path("men") %></div>
      </div>
      <div class="col-xs-12">
        <div class="well"><%= link_to "kids", collection_path("kids") %></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="well"><%= link_to "new_ins", collection_path("new_ins") %>
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>