<%# TODO fill in images dynamically %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to collection_path("women") do %>
      <div class="well"
        style="background-image:url('https://rmit-rad.s3-ap-southeast-2.amazonaws.com/women-tommy-flag-cropped-sweatshirt.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <h4>women</h4>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <%= link_to collection_path("men") do %>
          <div class="well"
            style="background-image:url('https://rmit-rad.s3-ap-southeast-2.amazonaws.com/men-jack-jones-globe-parka.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">

            <h4>men</h4>
          </div>
          <% end %>
        </div>
        <div class="col-xs-12">
          <%= link_to collection_path("kids") do %>
          <div class="well"
            style="background-image:url('https://rmit-rad.s3-ap-southeast-2.amazonaws.com/kids-jack-milly-issac-organic-sherpa-lined-hodie.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
            <h4>kids</h4>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <%= link_to collection_path("new_ins") do %>
      <div class="well well-double-size"
        style="background-image:url('https://rmit-rad.s3-ap-southeast-2.amazonaws.com/men-jack-jones-globe-parka.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
        <h4>new arrivals</h4>
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
      <% end %>
    </div>
  </div>
</div>