<%= form_with do |form| %>
    <div class="field">
        <%= form.label :visitor_email %>
        <%= form.text_area :visitor_email %>
    </div>
    
    <div class="actions">
        <%= form.submit "Subscribe" %>
    </div>
<% end %>

