<%= form_with model: @visitor, url: root_path do |form| %>
    
    <div class="field">
        <%= form.label :email %>
        <%= form.text_area :email %>
    </div>
    
    <div class="actions">
        <%= form.submit "Subscribe" %>
    </div>
<% end %>

