<%# still need to make this scroll on its own, and not the whole page.. %>
<div class="container">
  <div class="row flex-row flex-nowrap">
    <% @popular_items.each do |item| %>
      <div class="col-xs-6 nopadding">
        <div class="well" style="background-image:url('<%= item.image_link %>'); background-repeat: no-repeat; background-size: cover; background-position: center;"></div>
        <div>
          <%= item.name %>
          $<%= item.price %>
          <%= link_to '+', saved_path(item), method: "put" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
