<%# still need to make this scroll on its own, and not the whole page.. %>
<div class="container">
  <div class="row flex-row flex-nowrap">
    <% @popular_items.each do |item| %>
      <%= render 'shared/item', item: item %>
    <% end %>
  </div>
</div>