<%# still need to make this scroll on its own, and not the whole page.. %>
<div class="container-fluid">
  <div class="row flex-row flex-nowrap">
    <% @popular_items.each do |item| %>
      <div class="col-xs-3">
        <div class="well">
          <%= item.name %>
          <%= item.image_link %>
          <%= item.price %>
          <%= link_to '+', saved_path(item), method: "put" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
