<% provide(:title, "Help and support") %>

<h2 class="sub-header">Help and Support</h2>
<p>Created by: s3717497 | s3707189 </p>
<p>There are also extra pages that can be accessed for debugging purposes</p>
<p><%= link_to "Database saved items", db_saved_index_path %></p>
<p><%= link_to "All items", items_path %></p>
