<footer class="nav-up">
  <div class="row">
    <div class="col-xs-3 nopadding">
      <button type="button" class="navbar-brand btn" style="width: 100%;">
        <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </button>
    </div>
    <div class="col-xs-3 nopadding">
      <button type="button" class="navbar-brand btn" style="width: 100%;">
        <%= link_to root_path do %>
        <span class="glyphicon glyphicon-barcode"></span>
        <% end %>
      </button>
    </div>
    <div class="col-xs-3 nopadding">
      <button type="button" class="navbar-brand btn" style="width: 100%;">
        <%= link_to saved_index_path do %>
        <span class="glyphicon glyphicon-heart"></span>
        <% end %>
      </button>
    </div>
    <div class="col-xs-3 nopadding">
      <button type="button" class="navbar-brand btn" style="width: 100%;">
        <%= link_to(current_user || prompt_path) do %>
        <span class="glyphicon glyphicon-user"></span>
        <% end %>
      </button>
    </div>
  </div>

</footer>