<div class="navbar-collapse collapse">
  <!--<ul class="nav navbar-nav navbar-right nav-sidebar">-->
  <!--  <li>something1</li>-->
  <!--  <li>something2</li>-->
  <!--</ul>-->
  
  <!--<form class="navbar-form navbar-right">-->
  <!--    <input type="text" name="query" class="form-control" placeholder="Search...">-->
      
  <!--    <button type="submit" class="navbar-brand btn pull-right">-->
  <!--      <%# link_to search_path(search: "query"), method: "get" do %>-->
  <!--        <span class="glyphicon glyphicon-search"></span>-->
  <!--      <%# end %> -->
  <!--    </button>  -->
  <!--</form>-->  
  
    <%= form_with url: search_path,  class: "navbar-form navbar-right", data: {remote: false}, method: :get do |form| %>
      <%= form.search_field :query, placeholder: "Search...", class: 'form-control' %>
      <%= form.button type: "submit", class: "navbar-brand btn pull-right" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
    <% end %>
  
</div>