<div class="collapse navbar-collapse" id="navbar-collapse">


<%= form_with url: search_path,  class: "navbar-form navbar-right", data: {remote: false}, method: :get do |form| %>
      <%= form.search_field :query, placeholder: "Search...", class: 'form-control' %>
      <%= form.button type: "submit", class: "navbar-brand btn pull-right" do %>
        <span class="glyphicon glyphicon-search"></span>
      <% end %>
      <% end %>

</div>
