<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li>
            <%=link_to "Shop", collections_path%>
            <ul>
                <% CollectionItem.collections.each do |collection| %>
                    <li><%= link_to collection, collection_path(collection) %></li>
                <% end %>
            </ul>
        </li>        
        <li><%=link_to "Saved", saved_index_path %></li>
        <li><%=link_to "Help and Support", "#"%></li>        
    </ul>
</div>
